body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.sidebar {
    width: 15%;
    height: 100%;
    background-color: #276719;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
    color: white;
    padding: 20px;
}

.sidebar_text { 
    text-align: justify;
}

.content {
    margin-left: 15%;
    padding: 16px;
    text-align: center;
}

.under_construction {
    text-align: center;
}

a {
    color: white;
}